.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: black;
  margin: 0px auto;
  padding: 20px 0px; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0ff1; }

body {
  padding: 0px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: white; 
}


.custom-toggler.navbar-toggler { 
  border-color: black;
  border: black solid 3px; 
} 

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: rgba(196, 13, 13, 0.856); }
  .carousel .carousel-item {
    height: 500px; }
    .carousel .carousel-item img {
      position: absolute;
      top: auto;
      left: auto;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

.bottom {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right {
  position: absolute;
  top:92%;
  left:82%;
  transform: translate(-50%, -50%);
}


#textCoverXS{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4vw;
  color:white; 
}

#textCoverSM{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: bold;
  font-size: 5vw;
  color:white; 

}

#textMidTop{
 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  font-size: 2rem;
  border-left: rgba(247, 232, 22, 0.849) 3px inset;
  border-bottom: rgba(247, 232, 22, 0.849) 3px inset;
}

#textMidTopXS{
 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  font-size: 1rem;
  border-left: rgba(247, 232, 22, 0.849) 1px inset;
  border-bottom: rgba(247, 232, 22, 0.849) 1px inset;
}

#textMidBut{

  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  font-size: 2rem;
  border-top: rgba(17, 21, 245, 0.822)  3px inset;
  border-right: rgba(17, 21, 245, 0.822) 3px inset;

}

#textMidButXS{

  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  font-size: 1rem;
  border-top: rgba(17, 21, 245, 0.822)  1px inset;
  border-right: rgba(17, 21, 245, 0.822)  1px inset;

}